/****************       ****************\
                  fonts
/****************        ****************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');   
/****************        ****************\
               common styles
/****************        ****************/
body
{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;
}
.container
{
   
   width: 1160px;
}

/****************        ****************\
             header-area start
/****************        ****************/
.header-area
{
    background-color: #2D25A0;
   display: flex;
  
   justify-content: center;
    
}
/****************        ****************\
             header-bottom start
/****************        ****************/
.header-bottom
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 49px;
    margin-bottom:86px;
}
.header-details h2
{
    color: white;
    font-size: 64px;
    font-weight: bold;
    margin: 0;
    width: 485px;
height: 230px;

line-height: 80px;
overflow: hidden;
}
.anchor
{
margin-top: 37px;
}

.header-details a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px  24px;
    background-color:  #E02C6D;
    text-transform: capitalize;
    border:2px solid transparent;
   
    
}
.header-details:hover a
{
border: 2px solid #E02C6D;
transition: border 1s ease-in-out .02s;
background: none;
}
.fa-arrow-right
{
    margin-left: 8px;
    
}
.header-banner img
{
    width: 556.01px;
    height: 438px;
}
.header-banner:hover img
{
    
    transform: scale(1.1);
    transition: transform 1s ease-in-out .01s;
}
/****************        ****************\
             header-bottom end
/****************        ****************/

/****************        ****************\
             header-area end
/****************        ****************/

/****************        ****************\
               main-area start
/****************        ****************/
main
{
    display: flex;
    justify-content: center;
    margin: 70px  0 63px 0;
    flex-direction: column;
    align-items: center;
    
}
.main-container
{
    width: 1050px;
}
/****************        ****************\
               players-area start
/****************        ****************/
.players
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 45px;
    
}
.player
{
    width: 300px;
    height: 426px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px 15px 15px;
    border-radius:5px;

}
.player-img img
{
 width: 300px;
height: 256px;
}
.player-img:hover img
{
    transform: scale(1.1);
    transition: transform 1s ease-in-out .01s;
}
.player-title
{
    font-size: 28px;
    font-weight: 700;
    margin:16px 0 10px 0;
}
.player-intro
{
    font-size: 16px;
    color: #6C6C6C;
    margin-top: 0;
}
/****************        ****************\
               players-area end
/****************        ****************/

/****************        ****************\
               shop-area start
/****************        ****************/
.shop-area
{
    margin-top: 50px;
}
.shop-area h2{
   
    font-size: 35px;
    font-weight: bold;
    margin-top: 0;
}
hr {
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  margin-top: 0;
  margin-bottom: 29px;
}
.shops
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;

}
.shop
{
    width: 300px;
    height: 350px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px 15px 15px;
    border-radius:5px;

}

.jersry-img img
{
width: 300px;
height: 256px;
}
.jersry-img:hover img
{
    transform: scale(1.1);
    transition: transform 1s ease-in-out .01s;
}
.shop a
{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px  24px;
    background-color:  #E02C6D;
    text-transform: capitalize;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
   
}
.shop:hover a
{
   
    border:2px solid #E02C6D;
    transition: border 1s ease-in-out .02s;
    background:none;
    color: #E02C6D;
    
}
/****************        ****************\
               shop-area end
/****************        ****************/

/****************        ****************\
               contact-area start
/****************        ****************/

.contact-area
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    grid-column-gap:30px;
}
.contact-area h2{
   
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
}
.address,
.comment-area
{
    box-shadow: 0px 0px 40px gray;
    padding: 15px;
    background-color: rgba(192, 192, 192, 0.226);
}
.comment-area p
{
    margin: 10px 0 10;
}
.comment-area input[type="text"],
.comment-area input[type="email"]
{
    width: 76%;
    padding: 10px;
    border-radius: 5px;
}
.comment-area button{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px  24px;
    background-color:  #E02C6D;
    text-transform: capitalize;
    
}
.comment-area:hover button
{
    background: none;
    color:#E02C6D ;
    border: 2px solid #E02C6D;
    transition: border 1s ease-in-out .02s;
}
/****************        ****************\
               contact-area end
/****************        ****************/

/****************        ****************\
               main-area start
/****************        ****************/

/****************        ****************\
               footer-area start
/****************        ****************/
footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:63px;
    
}
.footer-logo img
{
    width: 483.87px;
    height: 110px;  
}
.social-media-link
{
 margin: 20px 0;
 box-sizing: border-box;
}
.social-media-link i
{
    background: #E7E7E8;
    color:#969BAB ;
    width: 17px;
    height: 17px;
    padding: 10px;
    font-size: 17px;
    border-radius:50%;
    margin-left: 14px;
    border: 2px solid transparent;
}
.social-media-link:hover i{
    border: 2px solid  #E02C6D;
    transform: scale(1.1);
    transition: transform 1s ease-in-out .01s ;
}
.copy-right p
{font-size: 18px;
    margin-top: 0;

}
/****************        ****************\
               footer-area end
/****************        ****************/

/****************        ****************\
            Media-query-area start
/****************        ****************/

/****************        ****************\
      For mobile device area start
/****************        ****************/

@media only screen and (max-width:360px){
   /*** body-area start ***/
  body{
       max-width:360px;
     }   
    /*** body-area end ***/

    /*** header-area start ***/
    .container,
    .header-area,
    .header-banner

    {
        width: 100%;
    }
    .header-bottom
    {
    flex-direction: column;
    }
    .header-details
    {
        margin-bottom: 50px;
    }
   .header-details h2
   {
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    width: 278px;
    height: 138px;
   }
   .header-banner
    {
     width: 329px;
     height: 259.17px;
    }
    .header-banner img
    {
        width: 329px;
        height: 259.17px;
    }
    /*** header-area end ***/
    /*** main-area start ***/
    .main-container
    {
        max-width:100%;
    }
    .players,
    .shops
    {
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 24px  ;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    /*** shop-start ***/
    .shop-area h2
    {
        text-align: center;
    }
     /*** shop-end ***/
     /*** contact-area start***/
     .contact-area
     {
         grid-template-columns: repeat(1,1fr);
         grid-row-gap: 40px;
     }
     .contact-area h2
    {
        text-align: center;
        size: 24px;
    }
     .contact-area textarea
     {
         width: 80%;
     }
     #check
     {
         width: 80%;
     }
     /*** contact-area  end***/

      /** main-area end **/

     /*** footer-area start ***/
     footer
     {
         margin-bottom: 187px;
     }
     .footer-logo
     {
         margin-right: 17.5px;
     }
     .footer-logo img
     {
        width: 320px;
        height: 60px;
     }
     .copy-right
     {
         width: 236px;
     }
     /*** footer-area end ***/
}
@media only screen and ( min-width:361px) and 
(max-width:688px){
    /** body start **/
   body
   {
       min-width: 361px;
       max-width: 688px;
   }
    /** body end **/

    /** header-area start **/
    .container
    {
        width: 100%;
    }
    .header-bottom
    {
     flex-direction: column;
    }
    .header-details
    {
        margin-bottom: 50px;
    }
    .header-details h2
   {
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    width: 278px;
    height: 138px;
   }
   .header-banner
    {
     width: 329px;
     height: 259.17px;
    }
    .header-banner img
    {
        width: 329px;
        height: 259.17px;
    }
    /** header-area end **/

    /** main-area start **/
    .main-container
    {
        max-width:100%;
    }
    .players,
    .shops
    {
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 24px  ;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right:17.5px;
    }
    
    /** shop-start **/
    .shop-area h2
    {
        text-align: center;
    }
     /** shop-end **/

     /** contact-area start **/
     
     .contact-area
     {
         grid-template-columns: repeat(1,1fr);
         grid-row-gap: 40px;
         width: 90%;
         margin: 40px auto 20px;
         
         
    }
    .contact-area h2
    {
        text-align: center;
    }
     .contact-area textarea
     {
         width: 80%;
     }
     #check
     {
         width: 80%;
     }
     /** contact-area end **/

      /** main-area end **/

     /* footer-area  start*/
     footer
     {
         margin-bottom: 187px;
     }
     .footer-logo
     {
         margin-right: 17.5px;
     }
     .footer-logo img
     {
        width: 320px;
        height: 60px;
     }
     .copy-right
     {
         width: 236px;
     }
    /* footer-area  end*/
    
}
/****************        ****************\
      For mobile device area end
/****************        ****************/

/****************        ****************\
      For tablets device area start
/****************        ****************/

@media only screen and ( min-width:689px) and 
(max-width:992px)
{
    body
    {
        min-width:689px;
        max-width:992px;
    }
    /** header start **/
    .container
    {
        width: 100%;
    }
    .header-area
    {
        padding: 10px;
    }
    header-details h2
   {
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    width:230px;
    height: 138px;
   }
   .header-banner
    {
     width: 329px;
     height: 259.17px;
    }
    .header-banner img
    {
        width: 270px;
        height: 259.17px;
    }
    /** header end **/
    /** main  start **/
    .main-container
    {
        max-width:80%;
        display: flex;
        flex-direction: row;
        
        justify-content: center;
    }
    .players,
    .shops
    {
        grid-template-columns:repeat(2,1fr);
    }
    .shops{
        grid-row-gap: 30px;
    }
    .contact-area
    {
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 40px;
    }
    /** main-end **/
    
}

/****************        ****************\
      For tablets device area end
/****************        ****************/

/****************        ****************\
            Media-query-area end
/****************        ****************/
